/*
* Global
*/
/*
 * Fonts
 */
/*
 * colors
 */
/* Layout */
/* Breakpoints */
html :where(.editor-styles-wrapper) {
  font-family: var(--e-global-typography-text-font-family, "Outfit"), sans-serif;
}

.widget *:focus {
  outline: 0;
}
.widget a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.widget a:hover, .widget a:focus {
  color: var(--e-global-color-accent, #DF4242);
}
.widget h1, .widget h2, .widget h3, .widget h4, .widget h5, .widget h6 {
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-weight: 500;
  line-height: 130%;
  color: var(--e-global-color-primary, #181818);
}
.widget input, .widget input[type=search], .widget input[type=text], .widget input[type=password],
.widget input[type=email], .widget input[type=tel], .widget select, .widget textarea {
  font-size: 16px;
  line-height: 24px;
  background: #FFFFFF;
  padding: 16px 24px;
  border: 1px solid #C7C7C7;
  border-radius: 15px;
}
.widget input {
  min-height: 58px;
}
.widget select {
  height: 58px;
  width: 100%;
  cursor: pointer;
  padding-right: 35px;
  background-image: url("../images/alt-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.widget button, .widget input[type=submit] {
  min-height: 58px;
  cursor: pointer;
}
.widget label {
  display: block;
  margin-bottom: 4px;
}

.bt-comment-stars {
  display: flex;
  gap: 4px;
  font-size: 0;
  line-height: 0;
}
.bt-comment-stars span.bt-filled svg {
  fill: #EFCF0A;
}
.bt-comment-stars span svg {
  fill: #CDCDCD;
  width: 16px;
  height: auto;
}

div[data-name=more_information] .acf-editor-wrap.delay .wp-editor-area {
  height: 85px !important;
}

.select2-container,
.elementor-editor-active .select2-container {
  font-size: 15px;
  line-height: 150%;
  min-height: 56px;
}
.select2-container.select2-container--open .select2-selection--single .select2-selection__arrow svg,
.elementor-editor-active .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow svg {
  transform: rotate(180deg);
}
.select2-container .select2-selection--single,
.elementor-editor-active .select2-container .select2-selection--single {
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #8c8c8c;
  gap: 10px;
  height: 58px;
  background: transparent;
}
@media (max-width: 360px) {
  .select2-container .select2-selection--single,
  .elementor-editor-active .select2-container .select2-selection--single {
    gap: 5px;
  }
}
.select2-container .select2-selection--single .select2-selection__arrow,
.elementor-editor-active .select2-container .select2-selection--single .select2-selection__arrow {
  width: 20px;
  height: auto;
  position: relative;
}
.select2-container .select2-selection--single .select2-selection__arrow svg,
.elementor-editor-active .select2-container .select2-selection--single .select2-selection__arrow svg {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--e-global-color-accent, #DF4242);
  margin: -4px 0 0 -13px;
  transition: all 0.3s;
}
.select2-container--default .select2-selection--single .select2-selection__rendered,
.elementor-editor-active .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--e-global-color-text, #616365);
  line-height: 56px;
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.elementor-editor-active .select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 40px;
  height: 54px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected],
.elementor-editor-active .select2-container--default .select2-results__option--highlighted[aria-selected],
.elementor-editor-active .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: var(--e-global-color-accent, #DF4242);
}
.select2-dropdown,
.elementor-editor-active .select2-dropdown {
  border: none;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: 99999;
}

.select2-search--dropdown,
.elementor-editor-active .select2-search--dropdown {
  padding: 8px;
}
.select2-search--dropdown .select2-search__field,
.elementor-editor-active .select2-search--dropdown .select2-search__field {
  padding: 6px 16px;
  border-radius: 0;
}

.select2-results__option,
.elementor-editor-active .select2-results__option {
  padding: 8px 24px;
}

.bt-container {
  max-width: var(--container-max-width, 1320px);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-default-padding-block-start, 15px);
  padding-right: var(--container-default-padding-block-end, 15px);
}
.bt-container.full-width {
  max-width: 100%;
}
@media (min-width: 1300px) {
  .bt-container.full-width {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.bt-fl-no-mg > *:first-child {
  margin-top: 0 !important;
}
.bt-fl-no-mg > *:last-child {
  margin-bottom: 0 !important;
}

.bt-image-absolute, .bt-cover-iframe iframe, .bt-cover-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  margin: 0;
}

.bt-cover-image {
  position: relative;
  overflow: hidden;
  background-color: #F6F6F4;
  background-image: url(../images/placeholder-image.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 33.33%;
  padding-bottom: 66.66%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.bt-cover-image img {
  transition: all 0.3s;
}

.bt-cover-iframe {
  position: relative;
  overflow: hidden;
  background: #F6F6F4;
  padding-bottom: 46.5%;
}
.bt-ab-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes animloadingwave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.__bt-max-line-ellipsis, .bt-block-recent-posts .bt-post--title {
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.__bt-button-style, .__bt-button-outline-dark-style, .__bt-button-outline-style, .__bt-button-dark-style, .widget button, .widget input[type=submit] {
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  background: var(--e-global-color-primary, #181818);
  padding: 16px 36px;
  border: none;
  border-radius: 0;
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  height: auto;
  min-height: auto;
}
.__bt-button-style:hover, .__bt-button-outline-dark-style:hover, .__bt-button-outline-style:hover, .__bt-button-dark-style:hover, .widget button:hover, .widget input[type=submit]:hover, .__bt-button-style:focus, .__bt-button-outline-dark-style:focus, .__bt-button-outline-style:focus, .__bt-button-dark-style:focus, .widget button:focus, .widget input[type=submit]:focus {
  color: #ffffff;
  background: var(--e-global-color-accent, #DF4242);
}
@media (max-width: 519.98px) {
  .__bt-button-style, .__bt-button-outline-dark-style, .__bt-button-outline-style, .__bt-button-dark-style, .widget button, .widget input[type=submit] {
    font-size: 16px;
    padding: 12px 30px;
  }
}

.__bt-button-dark-style {
  background: var(--e-global-color-secondary, #A2A4AB);
}
.__bt-button-dark-style:hover, .__bt-button-dark-style:focus {
  background: var(--e-global-color-secondary, #A2A4AB);
  border-color: var(--e-global-color-secondary, #A2A4AB);
}

.__bt-button-outline-style {
  color: var(--e-global-color-accent, #DF4242);
  background: #ffffff;
}
.__bt-button-outline-style:hover, .__bt-button-outline-style:focus {
  color: #ffffff;
  background: var(--e-global-color-accent, #DF4242);
}

.__bt-button-outline-dark-style {
  color: var(--e-global-color-primary, #181818);
  background: #ffffff;
  border: 3px solid var(--e-global-color-primary, #181818);
}
.__bt-button-outline-dark-style:hover, .__bt-button-outline-dark-style:focus {
  color: #ffffff;
  background: var(--e-global-color-secondary, #A2A4AB);
}

.__scrollbar_style-x {
  overflow-x: auto;
}
.__scrollbar_style-x::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
.__scrollbar_style-x::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--e-global-color-accent, #DF4242);
  cursor: pointer;
}
.__scrollbar_style-x::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

.__scrollbar_style, .select2-container--default .select2-results > .select2-results__options,
.elementor-editor-active .select2-container--default .select2-results > .select2-results__options {
  overflow-y: auto;
}
.__scrollbar_style::-webkit-scrollbar, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar,
.elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
.__scrollbar_style::-webkit-scrollbar-thumb, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb,
.elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a2a3ab;
  cursor: pointer;
}
.__scrollbar_style::-webkit-scrollbar-track, .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track,
.elementor-editor-active .select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f1f1f1;
}

.__bt-format-post-content {
  font-family: var(--e-global-typography-text-font-family, "Outfit"), sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 176%;
  color: var(--e-global-color-text, #616365);
}
@media (max-width: 1199.98px) {
  .__bt-format-post-content {
    font-size: 16px;
  }
}
.__bt-format-post-content > *:first-child {
  margin-top: 0 !important;
}
.__bt-format-post-content > *:last-child {
  margin-bottom: 0 !important;
}
.__bt-format-post-content strong,
.__bt-format-post-content b {
  color: var(--e-global-color-primary, #181818);
}
.__bt-format-post-content a:not(.wp-block-button__link, .wp-block-file__button) {
  font-weight: 500;
  color: var(--e-global-color-primary, #181818);
}
.__bt-format-post-content h2 {
  font-size: 30px;
}
@media (max-width: 519.98px) {
  .__bt-format-post-content h2 {
    font-size: 24px;
  }
}
.__bt-format-post-content h3 {
  font-size: 24px;
}
@media (max-width: 519.98px) {
  .__bt-format-post-content h3 {
    font-size: 22px;
  }
}
.__bt-format-post-content ul {
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.__bt-format-post-content ul > li:not(.blocks-gallery-item) {
  position: relative;
  padding-left: 28px;
}
.__bt-format-post-content ul > li:not(.blocks-gallery-item):not(:last-child) {
  margin-bottom: 12px;
}
.__bt-format-post-content ul > li:not(.blocks-gallery-item):before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--e-global-color-primary, #181818);
  position: absolute;
  left: 8px;
  top: 12px;
}
@media (max-width: 767.98px) {
  .__bt-format-post-content ul > li:not(.blocks-gallery-item):before {
    top: 11px;
  }
}
.__bt-format-post-content ol {
  list-style: none;
  counter-reset: bt-awesome-counter;
  padding-left: 0;
  margin-bottom: 16px;
}
.__bt-format-post-content ol li {
  counter-increment: bt-awesome-counter;
  position: relative;
  padding-left: 28px;
}
.__bt-format-post-content ol li:not(:last-child) {
  margin-bottom: 12px;
}
.__bt-format-post-content ol li::before {
  content: counter(bt-awesome-counter) ". ";
  position: absolute;
  left: 6px;
  top: 0;
  font-weight: 500;
  color: var(--e-global-color-primary, #181818);
}
.__bt-format-post-content .wp-block-button__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
}
.__bt-format-post-content .wp-block-image img {
  border-radius: 20px;
}
@media (max-width: 767.98px) {
  .__bt-format-post-content .wp-block-image {
    margin: 20px 0;
  }
  .__bt-format-post-content .wp-block-image img {
    border-radius: 8px;
  }
}
.__bt-format-post-content .wp-block-gallery {
  --wp--style--unstable-gallery-gap: 20px;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .__bt-format-post-content .wp-block-gallery {
    --wp--style--unstable-gallery-gap: auto;
    margin: 24px 0;
  }
}
.__bt-format-post-content .wp-block-gallery img {
  border-radius: 8px;
}
.__bt-format-post-content .wp-block-gallery .blocks-gallery-item__caption {
  border-radius: 0 0 8px 8px;
}
.__bt-format-post-content .wp-block-media-text {
  margin: 32px 0;
  gap: 20px;
  grid-template-columns: 1fr 52%;
}
.__bt-format-post-content .wp-block-media-text__media {
  overflow: hidden;
}
.__bt-format-post-content .wp-block-media-text__media img {
  margin: 0 !important;
}
.__bt-format-post-content .wp-block-media-text__content {
  padding: 0;
}
.__bt-format-post-content .wp-block-media-text__content > *:first-child {
  margin-top: 0 !important;
}
.__bt-format-post-content .wp-block-media-text__content > *:last-child {
  margin-bottom: 0 !important;
}
.__bt-format-post-content .wp-block-media-text__content ul,
.__bt-format-post-content .wp-block-media-text__content ol {
  padding-left: 23px;
}
@media (max-width: 1199.98px) {
  .__bt-format-post-content .wp-block-media-text {
    grid-template-columns: 1fr !important;
  }
  .__bt-format-post-content .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
  }
  .__bt-format-post-content .wp-block-media-text__content {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 600px) {
  .__bt-format-post-content .wp-block-media-text {
    margin-top: 32px;
  }
}
@media (max-width: 767.98px) {
  .__bt-format-post-content .wp-block-table {
    overflow-y: auto;
  }
  .__bt-format-post-content .wp-block-table table tr td {
    min-width: 200px;
    width: 200px;
  }
}
.__bt-format-post-content .wp-block-navigation ul {
  margin: 0;
  padding: 0;
}
.__bt-format-post-content .wp-block-navigation ul li {
  margin: 0 10px 0 0;
  padding-left: 0;
}
.__bt-format-post-content .wp-block-navigation ul li:before {
  display: none;
}
.__bt-format-post-content .wp-block-query-pagination {
  margin-top: 24px;
}
.__bt-format-post-content .wp-block-query ul {
  margin: 0;
  padding: 0;
}
.__bt-format-post-content .wp-block-query ul li {
  padding-left: 0;
}
.__bt-format-post-content .wp-block-query ul li:before {
  display: none;
}
.__bt-format-post-content .wp-block-query ul li:not(:last-child) {
  margin-bottom: 24px;
}
.__bt-format-post-content .wp-block-query .wp-block-post-title {
  font-size: 24px;
  margin: 0 0 8px;
}
.__bt-format-post-content ul.wp-block-archives-list,
.__bt-format-post-content ul.wp-block-categories-list,
.__bt-format-post-content ul.wp-block-latest-posts__list,
.__bt-format-post-content ul.wp-block-page-list,
.__bt-format-post-content ul.wp-block-rss {
  margin: 0 0 24px;
  padding: 0;
}
.__bt-format-post-content ul.wp-block-archives-list ul,
.__bt-format-post-content ul.wp-block-categories-list ul,
.__bt-format-post-content ul.wp-block-latest-posts__list ul,
.__bt-format-post-content ul.wp-block-page-list ul,
.__bt-format-post-content ul.wp-block-rss ul {
  padding-left: 20px;
}
.__bt-format-post-content ul.wp-block-social-links {
  margin: 0 0 24px;
  padding: 0;
}
.__bt-format-post-content ul.wp-block-social-links li {
  margin-bottom: 0 !important;
  padding-left: 0;
}
.__bt-format-post-content ul.wp-block-social-links li:before {
  display: none;
}
.__bt-format-post-content .wp-block-latest-comments {
  margin: 0;
  padding: 0;
}
.__bt-format-post-content .wp-block-latest-comments ol {
  padding-left: 30px;
}
.__bt-format-post-content .wp-block-latest-comments__comment {
  position: relative;
}
.__bt-format-post-content .wp-block-latest-comments__comment-avatar {
  position: absolute;
  top: 0;
  left: 0;
}
.__bt-format-post-content .wp-block-search__button-inside .wp-block-search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 5px 5px 0;
}
.__bt-format-post-content .wp-block-search__text-button .wp-block-search__input {
  padding-right: 165px;
}
.__bt-format-post-content .wp-block-search__icon-button .wp-block-search__input {
  padding-right: 120px;
}
.__bt-format-post-content .wp-block-search__inside-wrapper {
  position: relative;
  padding: 0;
}
.__bt-format-post-content .wp-block-search__button {
  border-radius: 5px;
}

.__bt-pagination-style {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  gap: 8px;
}
.__bt-pagination-style .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--e-global-color-primary, #181818);
  background: transparent;
  border-radius: 5px;
  text-transform: capitalize;
  border: 1px solid #e4e4e4;
}
.__bt-pagination-style .page-numbers:not(.current, .dots):hover {
  color: var(--e-global-color-accent, #DF4242);
}
.__bt-pagination-style .page-numbers:not(.current, .dots):hover svg path {
  fill: var(--e-global-color-accent, #DF4242);
}
.__bt-pagination-style .page-numbers.current {
  width: 40px;
  color: #ffffff;
  background: var(--e-global-color-accent, #DF4242);
  border-color: var(--e-global-color-accent, #DF4242);
}
.__bt-pagination-style .page-numbers.prev, .__bt-pagination-style .page-numbers.next {
  width: 40px;
  font-size: 0;
}
.__bt-pagination-style .page-numbers.prev svg, .__bt-pagination-style .page-numbers.next svg {
  width: 16px;
  height: 16px;
}
.__bt-pagination-style .page-numbers.prev svg {
  transform: rotate(-180deg);
}
.__bt-pagination-style .page-numbers.dots {
  width: auto;
  border: none;
}
@media (max-width: 519.98px) {
  .__bt-pagination-style.prev {
    margin-right: 0;
  }
  .__bt-pagination-style.next {
    margin-left: 0;
  }
}

.__bt-socials-style, .bt-elwg-site-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
@media (max-width: 519.98px) {
  .__bt-socials-style, .bt-elwg-site-social {
    gap: 10px;
  }
}
.__bt-socials-style span, .bt-elwg-site-social span {
  display: inline-block;
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: var(--e-global-color-primary, #181818);
  margin-right: 9.88px;
}
.__bt-socials-style a, .bt-elwg-site-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--e-global-color-primary, #181818);
}

.bt-primary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  border-radius: 4px;
  background-color: var(--e-global-color-accent, #DF4242);
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
.bt-primary-btn:hover {
  color: #fff;
  background-color: var(--e-global-color-primary, #181818);
}
@media only screen and (max-width: 1024px) {
  .bt-primary-btn {
    padding: 12px 26px;
  }
}

/* back to top */
.bt-back-to-top {
  position: fixed;
  right: 30px;
  bottom: -60px;
  z-index: 99;
  width: 48px;
  height: 48px;
  background-color: var(--e-global-color-primary, #181818);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.bt-back-to-top:hover svg path {
  fill: #fff;
}
.bt-back-to-top.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}
.bt-back-to-top svg {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 767px) {
  .bt-back-to-top {
    width: 40px;
    height: 40px;
    right: 15px;
  }
  .bt-back-to-top.show {
    bottom: 15px;
  }
  .bt-back-to-top svg {
    width: 20px;
    height: 20px;
  }
}

/*
* Import
*/
.bt-mobile-menu-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bt-mobile-menu-wrapper ul.bt-mobile-menu > li:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}
.bt-mobile-menu-wrapper ul .current-menu-item > a {
  color: var(--e-global-color-accent, #DF4242);
}
.bt-mobile-menu-wrapper ul a {
  display: block;
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  color: var(--e-global-color-primary, #181818);
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding: 12px 0;
}
.bt-mobile-menu-wrapper ul a:hover {
  color: var(--e-global-color-accent, #DF4242);
}
.bt-mobile-menu-wrapper .sub-menu {
  display: none;
  padding-left: 12px;
  margin-bottom: 16px;
}
.bt-mobile-menu-wrapper .sub-menu a {
  display: block;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 0;
}
.bt-mobile-menu-wrapper .sub-menu ul {
  margin-bottom: 0;
}
.bt-mobile-menu-wrapper .sub-menu .menu-item-has-children .bt-toggle-icon {
  top: 3px;
}
.bt-mobile-menu-wrapper .menu-item-has-children {
  position: relative;
}
.bt-mobile-menu-wrapper .menu-item-has-children.bt-is-active > .bt-toggle-icon:after {
  transform: rotate(90deg);
}
.bt-mobile-menu-wrapper .menu-item-has-children .bt-toggle-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 7px;
  right: 0;
  width: 32px;
  height: 32px;
  z-index: 5;
}
.bt-mobile-menu-wrapper .menu-item-has-children .bt-toggle-icon:before, .bt-mobile-menu-wrapper .menu-item-has-children .bt-toggle-icon:after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: var(--e-global-color-primary, #181818);
  transition: 0.4s ease 0.1s;
  z-index: 1;
}
.bt-mobile-menu-wrapper .menu-item-has-children .bt-toggle-icon:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 12px;
  margin: -6px 0 0 -1px;
}

.bt-elwg-site-infor {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 50px;
}
.bt-elwg-site-infor.bt-no-show-icon svg {
  display: none;
}
.bt-elwg-site-infor.bt-no-show-icon span {
  width: 100%;
}
.bt-elwg-site-infor--item {
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--e-global-color-primary, #181818);
  font-weight: 400;
}
.bt-elwg-site-infor--item a {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
.bt-elwg-site-infor--item.address, .bt-elwg-site-infor--item.time {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}
.bt-elwg-site-infor--item span {
  width: calc(100% - 28px);
}
.bt-elwg-site-infor--item svg {
  display: inline-block;
  width: 21px;
  height: 21px;
}
.bt-elwg-site-infor.separator .bt-elwg-site-infor--item {
  position: relative;
}
.bt-elwg-site-infor.separator .bt-elwg-site-infor--item:not(:last-child)::before {
  content: " ";
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--e-global-color-secondary, #A2A4AB);
}
@media (min-width: 768px) and (max-width: 1024.98px) {
  .bt-elwg-site-infor.separator-tb-hide .bt-elwg-site-infor--item:not(:last-child)::before {
    content: none !important;
  }
}
@media (max-width: 767.98px) {
  .bt-elwg-site-infor.separator-mb-hide .bt-elwg-site-infor--item:not(:last-child)::before {
    content: none !important;
  }
}
.bt-elwg-site-infor--style-1 {
  row-gap: 40px;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item > a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item-icon {
  min-width: 60px;
  min-height: 60px;
  background-color: var(--e-global-color-secondary, #A2A4AB);
  border: 1px solid var(--e-global-color-secondary, #A2A4AB);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item-icon svg {
  width: 100%;
  height: auto;
  max-width: 30px;
  margin: 0;
  color: #fff;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item-content h4 {
  color: var(--e-global-color-primary, #181818);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 4px 0;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item-content span {
  color: var(--e-global-color-primary, #181818);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.bt-elwg-site-infor--style-1 .bt-elwg-site-infor--item.address {
  display: flex;
  align-items: center;
  gap: 18px;
}

.bt-elwg-site-copyright {
  font-family: var(--e-global-typography-primary-font-family, "Outfit"), sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: var(--e-global-color-primary, #181818);
}
.bt-elwg-site-copyright a {
  color: var(--e-global-color-accent, #DF4242);
}
.elementor .bt-elwg-site-copyright a {
  text-decoration: underline;
}

.bt-elwg-page-breadcrumb .bt-page-breadcrumb {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 22px;
  color: #a0a0a0;
  font-style: normal;
}
.bt-elwg-page-breadcrumb .bt-page-breadcrumb a {
  color: var(--e-global-color-primary, #181818);
}
.bt-elwg-page-breadcrumb .bt-page-breadcrumb .bt-deli {
  display: flex;
}
.bt-elwg-page-breadcrumb .bt-page-breadcrumb .current {
  color: #a0a0a0;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .bt-elwg-page-breadcrumb .bt-page-breadcrumb {
    flex-wrap: wrap;
  }
}

.bt-block-recent-posts {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.bt-block-recent-posts .bt-post {
  display: flex;
  gap: 28px;
  color: inherit;
  align-items: center;
}
.bt-block-recent-posts .bt-post:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #E9E9E9;
}
.bt-block-recent-posts .bt-post .bt-cover-image {
  padding-bottom: 100%;
  border-radius: 4px;
}
.bt-block-recent-posts .bt-post--thumbnail {
  width: 90px;
  display: block;
}
.bt-block-recent-posts .bt-post--infor {
  width: calc(100% - 118px);
}
.bt-block-recent-posts .bt-post--meta {
  display: flex;
  align-items: center;
  gap: 12px;
}
.bt-block-recent-posts .bt-post--publish {
  color: var(--e-global-color-text, #616365);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.96px;
  text-transform: uppercase;
  padding-right: 12px;
  position: relative;
}
.bt-block-recent-posts .bt-post--publish::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 12px;
  background: #e9e9e9;
  right: 0;
  content: "";
}
.bt-block-recent-posts .bt-post--category {
  color: var(--e-global-color-text, #616365);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.bt-block-recent-posts .bt-post--title {
  word-break: break-word;
  margin: 4px 0 0 0;
  color: var(--e-global-color-primary, #181818);
  font-family: var(--e-global-typography-secondary-font-family, "Outfit"), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media (max-width: 1199.98px) and (min-width: 1024.98px) {
  .bt-block-recent-posts .bt-post {
    gap: 10px;
  }
  .bt-block-recent-posts .bt-post--infor {
    width: calc(100% - 100px);
  }
}
@media (max-width: 519.98px) {
  .bt-block-recent-posts .bt-post {
    gap: 15px;
  }
  .bt-block-recent-posts .bt-post--infor {
    width: calc(100% - 105px);
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../sass/admin-main.scss%22,%22../sass/_vars.scss%22,%22../sass/_admin-fixed.scss%22,%22../sass/_general.scss%22,%22../sass/_widget.scss%22,%22../sass/_block.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;AAAA;AAAA;ACAA;AAAA;AAAA;AAOA;AAAA;AAAA;AAgBA;AAOA;AC9BA;EACE,aDEU;;;ACEV;EACE;;AAEF;EACE;EACA;EACA;EACA;;AACA;EACE;;AAGJ;EACE,aDdW;ECeX;EACA;EACA,ODVY;;ACYd;AAAA;EAEE;EACA;EACA;EACA;EACA;EACA;;AAEF;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEF;EAEE;EACA;;AAEF;EACE;EACA;;;AAIJ;EACE;EACA;EACA;EACA;;AAEE;EACE;;AAEF;EACE;EACA;EACA;;;AAKJ;EACE;;;AC5EJ;AAAA;EAEE;EACA;EACA;;AAMQ;AAAA;EACE;;AAOV;AAAA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EAVF;AAAA;IAWI;;;AAGA;AAAA;EACE;EACA;EACA;;AACA;AAAA;EACE;EACA;EACA;EACA,OF1BK;EE2BL;EACA;;AAQJ;AAAA;EACE,OFtCK;EEuCL;EACA;;AAGF;AAAA;EACE;EACA;;AAGJ;AAAA;AAAA;AAAA;EAEE,kBFjDS;;AEyDf;AAAA;EAEE;EACA;EACA;EACA;;;AAGF;AAAA;EAEE;;AACA;AAAA;EACE;EACA;;;AAGJ;AAAA;EAEE;;;AAGF;EACE,WFrEU;EEsEV;EACA;EACA,cFvEc;EEwEd,eFvEY;;AEwEZ;EACE;;AACA;EAFF;IAGI;IACA;;;;AAMJ;EACE;;AAEF;EACE;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AACA;EAEE;;;AAIJ;EACE;EACA;EACA;EACA;;AAMF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAGF;EACE;IACE;IACA;;EAEF;IACE;IACA;;;AAIJ;EACE;EACA;EACA;EACA;EACA;;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,YFpLc;EEqLd;EACA;EACA;EACA,aF/La;EEgMb;EACA;;AACA;EAEE;EACA,YF3LW;;AE8Lb;EArBF;IAsBI;IACA;;;;AAGJ;EAEE,YFvMgB;;AEwMhB;EAEE,YF1Mc;EE2Md,cF3Mc;;;AE8MlB;EAEE,OF9Ma;EE+Mb;;AACA;EAEE;EACA,YFnNW;;;AEsNf;EAEE,OF3Nc;EE4Nd;EACA;;AACA;EAEE;EACA,YFhOc;;;AEmOlB;EACE;;AACA;EACE;EACA;EACA;EACA;;AAEF;EACE;EACA,kBF3OW;EE4OX;;AAEF;EACE;EACA;;;AAGJ;AAAA;EACE;;AACA;AAAA;EACE;EACA;EACA;EACA;;AAEF;AAAA;EACE;EACA;EACA;;AAEF;AAAA;EACE;EACA;;;AAGJ;EACE,aFjRU;EEkRV;EACA;EACA;EACA,OF3QW;;AE4QX;EANF;IAOI;;;AAEF;EACE;;AAEF;EACE;;AAEF;AAAA;EAEE,OFzRY;;AE2Rd;EACE;EACA,OF7RY;;AE+Rd;EACE;;AACA;EAFF;IAGI;;;AAGJ;EACE;;AACA;EAFF;IAGI;;;AAGJ;EACE;EACA;EACA;;AACA;EACE;EACA;;AACA;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA,YF3TQ;EE4TR;EACA;EACA;;AACA;EAVF;IAWI;;;AAKR;EACE;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;;AACA;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA,OFvVQ;;AE4VZ;EACE;EACA;EACA;;AAIF;EACE;;AAEF;EAJF;IAKI;;EACA;IACE;;;AAIN;EACE;EACA;;AACA;EAHF;IAII;IACA;;;AAEF;EACE;;AAEF;EACE;;AAGJ;EACE;EACA;EACA;;AACA;EACE;;AACA;EACE;;AAGJ;EACE;;AACA;EACE;;AAEF;EACE;;AAEF;AAAA;EAEE;;AAGJ;EAvBF;IAwBI;;EACA;IACE;IACA;;EAEF;IACE;IACA;;;AAGJ;EAlCF;IAmCI;;;AAIF;EADF;IAEI;;EACA;IACE;IACA;;;AAKJ;EACE;EACA;;AACA;EACE;EACA;;AACA;EACE;;AAMN;EACE;;AAEF;EACE;EACA;;AACA;EACE;;AACA;EACE;;AAEF;EACE;;AAKJ;EACE;EACA;;AAIN;AAAA;AAAA;AAAA;AAAA;EAKE;EACA;;AACA;AAAA;AAAA;AAAA;AAAA;EACE;;AAGJ;EACE;EACA;;AACA;EACE;EACA;;AACA;EACE;;AAIN;EACE;EACA;;AACA;EACE;;AAEF;EACE;;AAEF;EACE;EACA;EACA;;AAKA;EACE;EACA;EACA;EACA;EACA;;AAIF;EACE;;AAIF;EACE;;AAGJ;EACE;EACA;;AAEF;EACE;;;AAKN;EACE;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;EACA;EACA,aFpiBW;EEqiBX;EACA;EACA;EACA,OFjiBY;EEkiBZ;EACA;EACA;EACA;;AACA;EACE,OFpiBS;;AEsiBP;EACE,MFviBK;;AE2iBX;EACE;EACA;EACA,YF9iBS;EE+iBT,cF/iBS;;AEijBX;EAEE;EACA;;AACA;EACE;EACA;;AAIF;EACE;;AAGJ;EACE;EACA;;AAGJ;EACE;IACE;;EAEF;IACE;;;;AAKN;EACE;EACA;EACA;EACA;;AACA;EALF;IAMI;;;AAEF;EACE;EACA,aFlmBW;EEmmBX;EACA;EACA;EACA,OF/lBY;EEgmBZ;;AAEF;EACE;EACA;EACA;EACA,OFtmBY;;;AEymBhB;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBF/mBa;EEgnBb,aF1nBa;EE2nBb;EACA;;AACA;EACE;EACA,kBFxnBY;;AE0nBd;EAjBF;IAkBI;;;;AAIJ;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBFvoBc;EEwoBd;EACA;EACA;EACA;EACA;EACA;EACA;;AAII;EACE;;AAIN;EACE;EACA;EACA;;AAEF;EACE;EACA;;AAGF;EAjCF;IAkCI;IACA;IACA;;EAEA;IACE;;EAGF;IACE;IACA;;;;AHhrBN;AAAA;AAAA;AINE;EACE;EACA;EACA;;AACA;EACE;;AAGA;EACE,OHIO;;AGDX;EACE;EACA,aHXS;EGYT,OHLU;EGMV;EACA;EACA;EACA;;AACA;EACE,OHRO;;AGYb;EACE;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;;AAEF;EACE;;AAGA;EACE;;AAIN;EACE;;AACA;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EAEE;EACA;EACA;EACA,kBHvDQ;EGwDR;EACA;;AAEF;EACE;EACA;EACA;EACA;EACA;EACA;;;AAMR;EACE;EACA;EACA;;AAEE;EACE;;AAEF;EACE;;AAGJ;EACE,aH3FW;EG4FX;EACA;EACA,OHvFY;EGwFZ;;AACA;EACE;EACA;EACA;;AAEF;EAEE;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;;AAMA;EACE;;AAGE;EACE;EACA;EACA;EACA;EACA;EACA;EACA,kBH5HM;;AGqIZ;EADF;IAEI;;;AAOF;EADF;IAEI;;;AAKN;EACE;;AAGI;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA,kBHhKQ;EGiKR;EACA;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;EACA;;AAIF;EACE,OHjLI;EGkLJ;EACA;EACA;EACA;EACA;;AAEF;EACE,OHzLI;EG0LJ;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA;;;AAWV;EACE,aHvNa;EGwNb;EACA;EACA,OHnNc;;AGqNd;EACE,OHnNW;;AGqNX;EACE;;;AAMJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EACE,OH1OU;;AG4OZ;EACE;;AAEF;EACE;EACA;EACA;EACA;EACA;;AAEF;EAvBF;IAwBI;;;;AClQN;EACE;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;;AAEF;EACE;EACA;;AAEF;EACE;EACA;;AAEF;EACE;;AAEF;EACE;EACA;EACA;;AAEF;EACE,OJlBO;EImBP;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AACA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACE,OJvCO;EIwCP;EACA;EACA;EACA;EACA;EACA;;AAEF;EAEE;EACA;EACA,OJrDU;EIsDV,aJ5DW;EI6DX;EACA;EACA;EACA;;AAEF;EAnEF;IAoEI;;EACA;IACE;;;AAGJ;EAzEF;IA0EI;;EACA;IACE%22,%22file%22:%22admin-main.css%22%7D */
