@font-face {
    font-family: "Outfit";
    src:
      local("Outfit-Bold"),
      url("Outfit-Bold.ttf") format("truetype"),;
    font-weight: 700;
  }
  @font-face {
    font-family: "Outfit";
    src:
      local("Outfit-Semibold"),
      url("Outfit-SemiBold.ttf") format("truetype"),;
    font-weight: 600;
  }
  @font-face {
    font-family: "Outfit";
    src:
      local("Outfit-Medium"),
      url("Outfit-Medium.ttf") format("truetype"),;
    font-weight: 500;
  }
  @font-face {
    font-family: "Outfit";
    src:
      local("Outfit-Regular"),
      url("Outfit-Regular.ttf") format("truetype"),;
    font-weight: 400;
  }
  @font-face {
    font-family: "Outfit";
    src:
      local("Outfit-Italic"),
      url("Outfit-Italic.ttf") format("truetype"),;
    font-weight: 400;
    font-style: italic;
  }
  